---
const { to } = Astro.props;
---

<a href={to} class="navBtn">
	<slot />
  </a>

<style>
  .navBtn {
	display: flex;
	justify-content: center; 
    align-items: center; 
    flex: 1;
    border: h-6 border-transparent;
    padding: 10px 20px;
    transition: border 0.3s, color 0.3s;
    text-decoration: none;
    color: #fff;
    animation: navBtn 3.5s ease-in-out 1;
  }

  .navBtn:hover {
    border-bottom: 2px solid #ffc107;
    color: #000000;
  }

  @keyframes navBtn {
    0% {
      opacity: 0;
    }
    93% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>


